.button-button {
  padding: 10px 14px;
  display: block;
  width: 150px;
  background: #142c8e;
  border-radius: 40px;
  margin: 20px 0px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  margin: auto;
  border: 1px solid #142c8e;
  cursor:pointer
}
.button-button:hover {
  padding: 10px 14px;
  display: block;
  width: 150px;
  background: #122b91;
  border-radius: 40px;
  margin: 20px 0px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  margin: auto;
  border: 1px solid #142c8e;
  cursor: pointer;
}

.button-button:active {
  padding: 10px 14px;
  display: block;
  width: 150px;
  background: #122b91;
  border-radius: 40px;
  margin: 20px 0px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  margin: auto;
  border: 1px solid #142c8e;
  cursor: pointer;
}
/* rgb(24, 24, 66) */
@media (min-width: 800px) {
  .button-button {
    padding: 10px 20px;
    display: block;
    width: 150px;
    background: #122b91;
    border-radius: 40px;
    margin: 20px 0px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin: auto;
    border: 1px solid #142c8e;
    cursor: pointer;
  }

  .button-button:hover {
    padding: 10px 20px;
    display: block;
    width: 150px;
    background: #122b91;
    border-radius: 40px;
    margin: 20px 0px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin: auto;
    border: 1px solid #142c8e;
    cursor: pointer;
  }

  .button-button:active {
    background-color: #642e35;
    color: white;
    text-decoration: none;
    padding: 15px;
    border: 1px solid#4f000b;
    width: 60%;
    border-radius: 50px;
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    font-size: 1rem;
  }
}
